# Thư mục build và dist do PyInstaller tạo ra
/dist/
/build/

# Các file tạm của Python
__pycache__/
/.vscode/
*.pyc

# Thư mục môi trường ảo
/.venv/

# Các file cấu hình của PyInstaller
*.spec

# Các file thực thi (exe)
*.exe

# Các file excel
*.xlsx
*.xlsm

# File cấu hình
config.txt

# Biến môi trường
.env

# File txt
*.txt

# Thư mục model:
/easyocr_model/

# file keygen
ssh-keygen